
<div class="container">
	<div class="event-single-item" >
		<h1>{{event.title}}</h1>
		<span>{{event.image}}</span>
		<span>{{event.category}}</span>
		<date>{{event.startdate}}</date> - <date>{{event.enddate}}</date>
		<div>{{event.tickets}}</div>
		<div>{{event.buy_tick}}</div>
		<div>{{event.description}}</div>
		<div>{{event.location}}</div>
		<div>{{event.lat}}</div>
		<div>{{event.lng}}</div>
		<div>{{event.web}}</div>
		<div>{{event.email}}</div>
		<div>{{event.phone}}</div>
	</div>
</div>
