<div class="container" >
  <div class="h45p"></div>
  <form name="eventForm" novalidate>
    <fieldset>
      Username:
      <input type="text" name="title" ng-model="title" size="31" required>
      
      
      <!-- category -->
      <div class="form-group" >
        Категорія <span class="color-red">*</span>:
        <select  name="category" ng-model="category" required>
          <option value="1">музика</option>
          <option value="2">кіно</option>
          <option value="3">виставки</option>
          <option value="4">театр</option>
          <option value="5">фестивалі</option>
          <option value="6">лекції/презентації</option>
          <option value="7">інше</option>
        </select>
        <p ng-show="eventForm.category.$invalid && !eventForm.category.$pristine" class="help-block">Category is required.</p>
        <div class="clr mb10"></div>
      </div>

      <!-- Location -->
      <div class="form-group" ng-class="{ 'has-error' : addEvent.location.$invalid && !addEvent.location.$pristine }">
        <i class="fa fa-map-marker blue"></i> Місце проведення <span class="color-red">*</span>:
        <input type="text" name="location" placeholder="Event location" ng-model="location" required>
        <p ng-show="addEvent.location.$invalid && !addEvent.location.$pristine" class="help-block">Location is required.</p>
        <div class="clr mb10"></div>
      </div>

      <br>Photo:
      <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="1MB" required>
      <i ng-show="eventForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 1MB</i>
      <img ng-show="eventForm.file.$valid" ngf-thumbnail="picFile" class="thumb img-responsive"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
      <br>




      <button ng-disabled="!eventForm.$valid" 
              ng-click="uploadPic(picFile)">Submit</button>
      <span class="progress" ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" 
            ng-bind="picFile.progress + '%'"></div>
      </span>
      <span ng-show="picFile.result">Upload Successful</span>
      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
    </fieldset>
  </form>
</div>
<div class="clr "><br/></div>