<div  id="events-gmap" style="width: 100%; height: 100%;"></div>	
<script src="//maps.googleapis.com/maps/api/js?key=AIzaSyDcQ7O6FhwFVRX-C91mc0SqX9s4XcFS9lM&amp;callback=initMap&amp;callback=initialize"></script>	
<script>
/* google map start */

function initialize() {
    var map = new google.maps.Map(document.getElementById('events-gmap'), {
    center: {lat: 49.832, lng: 24.012},
    zoom: 13
    });
    var infoWindow = new google.maps.InfoWindow({map: map});

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var pos = {
      lat: position.coords.latitude,
      lng: position.coords.longitude
      };

      infoWindow.setPosition(pos);
      infoWindow.setContent('You are here');
      map.setCenter(pos);
    }, function() {
      handleLocationError(true, infoWindow, map.getCenter());
    });
    } else {
    // Browser doesn't support Geolocation
    handleLocationError(false, infoWindow, map.getCenter());
    }
    
    //setMarkers(map);
  }


/*
  var response = $.getJSON( "data/events.json"),
    events = [];
  for (var i = 0; i < response.responseJSON.length; i++) {
      events[i] = [];
      events[i].push(response.responseJSON[i].title);
      events[i].push(parseFloat(response.responseJSON[i].lat));
      events[i].push(parseFloat(response.responseJSON[i].lng));
      events[i].push(parseFloat(response.responseJSON[i].id));
  }
  
  function setMarkers(map) {
    
    for (var i = 0; i < events.length; i++) {
      var event = events[i];
      var marker = new google.maps.Marker({
        position: {lat: event[1], lng: event[2]},
        map: map,
        //icon: image,
        //shape: shape,
        title: event[0],
        zIndex: event[3]
      });
      }
  }
  */

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
              'Error: The Geolocation service failed.' :
              'Error: Your browser doesn\'t support geolocation.');
  }

  /* google map end */
</script>

    