<div class="container" >
	<div class="w100p">
		<div class="col-lg-4">
			<i class="fa fa-search blue"></i> Find event:
			<input type="text" ng-model="search">
		</div>
		<div class="col-lg-8 mt10">
			<a href class="btn "><i class="fa fa-asterisk"></i> all</a>
			<a href class="btn bg-red cat_1"><i class="fa fa-music"></i> music</a>
			<a href class="btn bg-green cat_2"><i class="fa fa-film"></i> cinema</a>
			<a href class="btn bg-blue cat_3"><i class="fa fa-picture-o"></i> exhibition</a>
			<a href class="btn bg-yellow cat_4"><i class="fa fa-users"></i> thearte</a>
			<a href class="btn bg-grey cat_5"><i class="fa fa-graduation-cap"></i> presentation/lecture</a>
			<a href class="btn bg-brown cat_6"><i class="fa fa-globe"></i> other</a>
		</div>
		<div class="clr"></div>
	</div>
	<div class="row event-list-item" ng-repeat="event in eventlist.events | orderBy: 'startdate' | filter : search " >
		<div >
			
			<div class="col-lg-2">
				<span class="event-img">
					<img ng-src="{{event.image}}" class="img-responsive " />
				</span>
				<date><i class="fa fa-calendar blue"></i> <strong>{{event.startdate}}</date> - <date>{{event.enddate}}</strong></date>
				<span class="btn cat_{{event.category}}">{{event.category}}</span>
			</div>

			<div class="col-lg-10">
				<h2 ng-click="linkSingle.setLink(1)">{{event.title}}</h2>
				<div>{{event.description}}</div>
				<div class="clr"></div>
				
				<div class="mt10"><i class="fa fa-map-marker blue"></i> {{event.location}}</div>
				<div>
					<i class="fa fa-ticket blue"></i> {{event.tickets}}
					<span ng-show="event.buy_tick.length>0"><a href="{{event.buy_tick}}" target="_blank" >Buy</a></span>
				</div>	
			</div>			
		</div>
		<div class="clr"></div>
	</div>
</div>