<div class="container" >
  <div class="h45p"></div>
  <div class="form-success"></div>
  <form name="eventForm" id="eventForm" novalidate>
    <div class="clr"><br/></div>

    <!-- image -->
    <div class="form-group col-lg-3">
      <i class="fa fa-picture-o blue"></i>
      Додайте афішу <span class="color-red" ng-show="eventForm.file.$error.required">*</span>:<br/>
      <input type="file" ngf-select ng-model="picFile" name="file" accept="image/*" ngf-max-size="1MB" required>
      <i ng-show="eventForm.file.$error.maxSize">File too large {{picFile.size / 1000000|number:1}}MB: max 1MB</i>
      <img ng-show="eventForm.file.$valid" ngf-thumbnail="picFile" class="mt10 img-responsive" style="max-height: 140px;"> <button class="mt10 btn" ng-click="picFile = null" ng-show="picFile">Remove</button>
      <div class="clr"></div>

      <span class="progress bg-green m0 dib fl"  ng-show="picFile.progress >= 0">
        <div style="width:{{picFile.progress}}%" ng-bind="picFile.progress + '%'"></div>
      </span>
      <span class="dib" ng-show="picFile.result">Upload Successful</span>
    </div>

    <div class="col-lg-5">

      <!-- title -->
      <div class="form-group">
        Назва події <span class="color-red" ng-show="eventForm.title.$error.required">*</span>:
        <input type="text" name="title" ng-model="title" required>
        <div class="clr mb10"></div>
      </div>

      <!-- category -->
      <div class="form-group">
        Категорія <span class="color-red" ng-show="eventForm.category.$error.required">*</span>:
        <select  name="category" ng-model="category" required>
          <option value="1">музика</option>
          <option value="2">кіно</option>
          <option value="3">виставки</option>
          <option value="4">театр</option>
          <option value="5">фестивалі</option>
          <option value="6">лекції/презентації</option>
          <option value="7">інше</option>
        </select>
        <div class="clr mb10"></div>
      </div>

       <!-- Location -->
      <div class="form-group">
        <i class="fa fa-map-marker blue"></i> Місце проведення <span class="color-red" ng-show="eventForm.elocation.$error.required">*</span>:
        <input type="text" name="elocation" ng-model="elocation" required>
        <div class="clr mb10"></div> 
      </div>

      <!-- location addr -->
      Адреса <span class="color-red" ng-show="eventForm.locationaddr.$error.required">*</span>:<br/>
      <input id="geocomplete" type="text" name="locationaddr" value="" class="fl mr10" ng-model="locationaddr" required>
      <input id="find" type="button" value="Знайти" class="fl btn w50p" />
      <a id="reset" class="fl btn w50p" href="#" style="display:none;">Стерти</a>
      <div class="clr mb10"></div>
      

    </div>

    <div class="col-lg-4">

      <!-- location map -->
      <div id="event-map" class="events-add-map" style="width: 100%; height: 210px;"></div>
      * виможете переміщати маркер
      <div style="height: 0px; overflow:hidden;"> 
        <input name="lat" ng-model="lat" id="lat" type="text" value="" class="" />
        <input name="lng" ng-model="lng" id="lng" type="text" value="" class="" />
        <input name="event_location_formatted_address" type="text" value="" />
      </div>
      <div class="clr mb10"></div>


      
    </div>

    <div class="col-lg-8">
      <!-- dates -->
      <i class="fa fa-calendar blue"></i> Виберіть дату <span class="color-red" ng-show="eventForm.date.$error.required">*</span>:
      <div class="clr"></div>
      <!-- event dates -->
          <div  class="form-group">
            <input type="text" id="event_date" name="event_date" ng-model="date" class="col-lg-5 mr10 " readonly required />  
            <input type="text" id="event_timefrom" name="timefrom" class="col-lg-2 mr10" placeholder="start time" /> 
            <input type="text" id="event_timetill" name="timetill" class="col-lg-2 mr10"  placeholder="end time"  />
            <a href class="btn" id="btn_add_date">додати</a>
            <!-- here list of dates -->
            <div id="event_dates_list"></div>
            <input name="dates" ng-model="dates" id="event_dates" type="hidden">
          </div>        
      <div class="clr mb10"></div>

      <!-- description -->
      <div class="form-group" >
        Опис події <span class="color-red" ng-show="eventForm.description.$error.required">*</span>:
        <textarea  name="description" rows="15" placeholder="Event Description" ng-model="description" required></textarea>
        <div class="clr mb10"></div>
      </div>
    </div>

    <div class="col-lg-4">
      <i class="fa fa-ticket blue"></i> Вартість квитків:
      <input type="text" name="tickets" ng-model="tickets" placeholder="Free or ticket price" >
      <div class="clr mb10"></div>

      сайт:
      <input type="text" name="web" ng-model="web" placeholder="Event website" >
      <div class="clr mb10"></div>

      e-mail:
      <input type="text" name="email" ng-model="email" placeholder="e-mail" >
      <div class="clr mb10"></div>

      телефон:
      <input type="text" name="phone" ng-model="phone" placeholder="phone" >
      <div class="clr mb10"></div>
    </div>

    



    <div class="clr"></div>
    <button ng-disabled="!eventForm.$valid" ng-click="uploadPic(picFile)" class="btn" id="event_submit"><i class="fa fa-check"></i> Додати подію</button>

    <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

  </form>
</div>
<div class="clr "><br/></div>