<div class="container" ng-controller="EventNav">
	<nav>		
		<span class="logo"><img src="images/logo.png" class="img-responsive" alt="EventsOnMap"/></span>
		<span>
			<a href="#map" ng-class="{ active: isActive('/')}"><i class="fa fa-map-marker"></i> <span>Карта подій</span></a>
		</span>
		<span>
			<a href="#list" ng-class="{ active: isActive('/list')}"><i class="fa fa-list"></i> <span>Список подій</span></a>
		</span>
		<span>
			<a href="#add" ng-class="{ active: isActive('/add')}"><i class="fa fa-plus"></i> <span>Додати подію</span></a>
		</span>
		<div class="clr"></div>
	</nav>
</div>