<div class="container">
	<nav>		
		<span><img src="images/logo.png" class="img-responsive" alt="EventsOnMap"/></span>
		<span ng-class="{ active:link.isLink(1) }" >
			<a href ng-click="link.setLink(1)"><i class="fa fa-map-marker"></i> <span>events map</span></a>
		</span>
		<span ng-class="{ active:link.isLink(2) }">
			<a href ng-click="link.setLink(2)"><i class="fa fa-calendar"></i> <span>events list</span></a>
		</span>
		<span ng-class="{ active:link.isLink(3) }">
			<a href ng-click="link.setLink(3)"><i class="fa fa-plus"></i> <span>add event</span></a>
		</span>
		<div class="clr"></div>
	</nav>
</div>