<div class="container">
	<form name="eventAdd" ng-submit="eventAdd.$valid" novalidate>

			add event image
			<input name="event_image" type="file">
			<div class="clr"></div>

			Events Title:
			<input type="text" name="event-title" placeholder="Event Title" required>
			<div class="clr"></div>

			Events Category:
			<select  name="event-categoty" required>
				<option>- select category -</option>
				<option value="1">music</option>
				<option value="2">cinema</option>
				<option value="3">exhibition</option>
				<option value="4">thearte</option>
				<option value="5">lecture/presentation</option>
				<option value="6">other</option>
			</select>
			<div class="clr"></div>

			Start Date:
			<input type="text" name="event-startdate" placeholder="Event Start Date" id="events-add-startdate" required>
			<div class="clr"></div>

			End Date:
			<input type="text" name="event-enddate" placeholder="Event End Date" id="events-add-enddate" required>
			<div class="clr"></div>

			Tickets cost:
			<input type="text" name="event-tickets" placeholder="Free or ticket price" >
			<div class="clr"></div>

			Location:
			<input type="text" name="event-location" placeholder="Event location" required>
			<div class="clr"></div>

			Location address:
			<input id="geocomplete" type="text" placeholder="Type location address" required>
			<div class="clr"></div>

			<div id="event-map"></div>
			<input name="event-lat" type="text" value="" class="hidden">
			<input name="event-lng" type="text" value="" class="hidden">
			<div class="clr"></div>

			website:
			<input type="text" name="event-web" placeholder="Event website" >
			<div class="clr"></div>

			e-mail:
			<input type="text" name="email" placeholder="e-mail" >
			<div class="clr"></div>

			phone:
			<input type="text" name="event-phone" placeholder="phone" >
			<div class="clr"></div>

			Event Description:
			<textarea  name="event-description" rows="20" placeholder="Event Description" required></textarea>

			<div class="clr"></div>
			<button type="submit" name="submit" class="btn">Add Event</button>
			
	</form>
</div>