<div class="container">
	<form action="" method="post" enctype="multipart/form-data">

			<i class="fa fa-plus"></i> add event image
			<input name="event_image" type="file" class="event-image">
			<div class="clr mb10"></div>

			Events Title:
			<input type="text" name="event-title" class="" placeholder="Event Title">
			<div class="clr mb10"></div>

			Events Category:
			<select class="" name="event-categoty">
				<option>- select category -</option>
				<option value="1">music</option>
				<option value="2">cinema</option>
				<option value="3">exhibition</option>
				<option value="4">thearte</option>
				<option value="5">lecture/presentation</option>
				<option value="6">other</option>
			</select>
			<div class="clr mb10"></div>

			Start Date:
			<input type="text" name="event-startdate" class="" placeholder="Event Start Date" id="events-add-startdate">
			<div class="clr mb10"></div>

			End Date:
			<input type="text" name="event-enddate" class="" placeholder="Event End Date" id="events-add-enddate">
			<div class="clr mb10"></div>

			Tickets cost:
			<input type="text" name="event-tickets" class="" placeholder="Free or ticket price" >
			<div class="clr mb10"></div>

			Location:
			<input type="text" name="event-location" class="" placeholder="Event location" >
			<div class="clr mb10"></div>

			Location address:
			<input id="geocomplete" class="" type="text" placeholder="Type location address">
			<div class="clr"></div>
			<div id="event-map" class="events-add-map"></div>
			<input name="event-lat" type="text" value="" class="hidden">
			<input name="event-lng" type="text" value="" class="hidden">
			<div class="clr mb10"></div>

			website:
			<input type="text" name="event-web" class="" placeholder="Event website" >
			<div class="clr mb10"></div>

			e-mail:
			<input type="text" name="email" class="" placeholder="e-mail" >
			<div class="clr mb10"></div>

			phone:
			<input type="text" name="event-phone" class="" placeholder="phone" >
			<div class="clr mb10"></div>

			Event Description:
			<textarea  class="" name="event-description" rows="20" placeholder="Event Description" ></textarea>

			<div class="clr mb10"></div>
			<div class="mb10"><button type="submit" name="submit" class="btn"><i class="fa fa-check"></i> Add Event</button></div>
			
	</form>
</div>